
div.mojozoom_marker {
	position : absolute;
	cursor : crosshair; 
}

div.mojozoom_border {
	position : absolute;
	left:0px;
	top:0px;

	border : 1px solid black;

	width:100%;
	height:100%;

}

div.mojozoom_fill {
	position : absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color : white;
	opacity : 0.5;
	-moz-opacity : 0.2;
	-khtml-opacity : 0.2;
	filter:alpha(opacity=20);




}


img.mojozoom_img {
	padding : 0px;
	border: 0px;
}

div.mojozoom_imgctr {
	position : absolute;
	margin-left : 20px;
	border : 1px solid black;
}

