/*
TAGs
*/

html,
body {
	margin:0;
	padding:0;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#ffffff;
}

a img,
img {
	border:none;
}

a,
a:link,
a:visited {
	color:#000000;
	text-decoration:none;
}

a:focus,
a:hover,
a:active {
	text-decoration:underline;
}

ol, ul {
	margin-left:1px;
	padding-left:15px;
	list-style-position:outside;
}

input[type=text],
textarea {
	padding:2px;
	border:1px solid #cccccc;
	background:#ffffff none;
	font-size:14px;
	color:#5c5b5b;
}

.grau {
	color:#5C5B5B;
}

.gold {
	color:#B49B34;
}

.grau_18 {
	color:#5C5B5B;
	font-size:18px;
}

.gold_18 {
	color:#B49B34;
	font-size:18px;
}

/* ____________________________________________________ alt alt alt alt */
.grau {
	color:#5C5B5B;
}

.gold {
	color:#B49B34;
}

.grau_18 {
	color:#5C5B5B;
	font-size:18px;
}

.gold_18 {
	color:#B49B34;
	font-size:18px;
}
/* ____________________________________________________ alt alt alt alt */

.headline_24_29_times {
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	line-height:29px;
	color:#000000;
}

.class_12_17 {
	font-size:12px;
	line-height:17px;
}

.class_12 {
	font-size:12px;
}

.brands_24_29_times {
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	line-height:29px;
	color:#000000;
}

.brands_11_red {
	font-size:11px;
	color:#BC1B1B;
}

table.brands td {
	border-right:1px solid #000000;
	padding:0 20px;
}

.head_times_black-bg {
	display:inline-block !important;
	height:28px !important;
	line-height:40px !important;
	margin-top:0px !important;
	margin-right:15px !important;
	padding:0px 12px 0px 34px !important;
       font-size: 24px !important;
       font-family: "Times New Roman", Times, serif !important;
	text-transform:uppercase !important;
	color:#ffffff !important;
	font-style:italic !important;
	background-color:#000000 !important;
}

.headsub_times_black-bg {
	display:inline-block !important;
	height:28px !important;
	line-height:40px !important;
	margin-top:0px !important;
    font-family    : "Times New Roman", Times, serif !important;
    font-size      : 20px !important;
	font-style:italic !important;
	color:#000000 !important;
}

/* NEU NEU NEU */

.h1__WYSIWYG {
font-family:Merriweather, "Times New Roman", Georgia, serif !important;
font-size:16px !important;       
font-weight:700 !important;
text-transform:uppercase !important;  
color:#5d626a !important;
line-height:1.5 !important;    
letter-spacing:2px;
margin-bottom:10px !important; 
margin-top:2px;
padding-bottom:2px;
text-align:center;    
}

 
.h2__WYSIWYG {
font-family:Raleway, Helvetica, Verdana, sans-serif !important;
font-size:12px !important;       
font-weight:700 !important;
text-transform:uppercase !important;  
color:#5d626a !important;
line-height:1.5 !important;    
letter-spacing:1px;
margin:0px;
padding:0px;
text-align:left;      
}

 
.h3__WYSIWYG {
font-family:Raleway, Helvetica, Verdana, sans-serif !important;
font-size:12px !important;       
font-weight:400 !important;
text-transform:uppercase !important;  
color:#5d626a !important;
line-height:1.5 !important;    
letter-spacing:1px;
margin:0px;
padding:0px;
text-align:left;      
}

 
.h1_sangria_WYSIWYG {
font-family:Merriweather, "Times New Roman", Georgia, serif !important;
font-size:16px !important;       
font-weight:700 !important;
text-transform:uppercase !important;  
color:#c80050 !important;
line-height:1.5 !important;    
letter-spacing:2px;
margin-bottom:10px !important; 
margin-top:2px;
padding-bottom:2px;
text-align:center;    
}

 
.h2_sangria_WYSIWYG {
font-family:Raleway, Helvetica, Verdana, sans-serif !important;
font-size:12px !important;       
font-weight:700 !important;
text-transform:uppercase !important;  
color:#c80050 !important;
line-height:1.5 !important;    
letter-spacing:1px;
margin:0px;
padding:0px;
text-align:left;      
}

/* NEU NEU NEU */
