#site.bloglove #site_content {
	margin-top:40px;
}

#site.bloglove #site_article,
#site.bloglove #site_article_right {
	float:left;
}

#site.bloglove #site_article {
	width:550px;
	padding-right:160px;
}

#site.bloglove #site_article_right {
	width:230px;
	padding-right:20px;
}

#site.bloglove .ue_shop {
	float:none;
	width:auto;
	height:auto;
	margin:0px 0px 20px 0px;
}

#site.bloglove .ue_shop .ue_shop_title {
	margin:0px;
	padding-top:30px;
	padding-bottom:10px;
	text-align:left;
	font-weight:normal;
}

#site.bloglove .ue_shop .ue_shop_title,
#site.bloglove .ue_shop .ue_shop_title a {
	font-family:'open_sans_condensed_bold';
	font-size:26px !important;
	text-transform:uppercase;
}

#site.bloglove .ue_shop .interactive {
	padding-bottom:10px;
}

#site.bloglove .ue_shop .interactive>div {
	float:left;
	margin-left:30px;
	padding-left:15px;
	background:transparent none 0px 50% no-repeat scroll;
}

#site.bloglove .ue_shop .interactive .posttime {
	background-image:url(/__/images/2014-06/ico_datetime.png);
}

#site.bloglove .ue_shop .interactive .member {
	background-image:url(/__/images/2014-06/ico_user.png);
	cursor:pointer;
}

#site.bloglove .ue_shop .interactive .comment {
	cursor:pointer;
	background-image:url(/__/images/2014-06/ico_comment.png);
}

#site.bloglove .ue_shop .interactive>div:first-child {
	margin-left:0px;
}

#site.bloglove .ue_shop .interactive>div,
#site.bloglove .ue_shop .interactive>div * {
	text-transform:uppercase;
	color:#838383;
}

#site.bloglove .ue_shop .social_links {
	padding-bottom:20px;
}

#site.bloglove .ue_shop .social_links .social_cont {
	margin-right:10px;
}

#site.bloglove .ue_shop .miniature {
	display:block;
	margin-bottom:20px;
	text-align:center;
}

#site.bloglove .ue_shop .miniature img {
	max-width:100%;
	height:auto;
}

#site.bloglove .ue_shop .tags .mtag {
	position:relative;
	display:inline-block;
	height:20px;
	line-height:20px;
	margin-right:5px;
	margin-bottom:20px;
	padding:0px 10px 0px 15px;
	border-radius:0px 2px 2px 0px;
	color:#ffffff;
	background-color:#acacac;
	font-family:'open_sans_condensed_bold';
	font-size:12px;
	text-transform:uppercase;
	cursor:pointer;
}

#site.bloglove .ue_shop .tags .mtag .mo {
	position:absolute;
	top:0px;
	right:auto;
	bottom:0px;
	left:0px;
	width:15px;
	background:#ffffff url(/__/images/bl/tag_o.png) 0px 50% no-repeat scroll;
	background-size:contain;
}

#site.bloglove .ue_shop .ue_shop_teaser {
	padding-bottom:20px;
	text-align:left;
}

#site.bloglove .ue_shop .ue_shop_teaser a img[align="left"],
#site.bloglove .ue_shop .ue_shop_teaser img[align="left"] {
    margin-left:0;
}

#site.bloglove .ue_shop .ue_shop_teaser a img[align="right"],
#site.bloglove .ue_shop .ue_shop_teaser img[align="right"] {
    margin-right:0;
}

#site.bloglove .ue_shop .more {
	display:inline-block;
	height:15px;
	line-height:13px;
	margin-bottom:20px;
	padding-left:20px;
	color:#000000;
	background:transparent url(/__/images/2014-06/arrow_circle_right.png) no-repeat 0px 50% scroll;
}

#site.bloglove .ue_shop .more.back {
	background:transparent url(/__/images/2014-06/arrow_circle_left.png) no-repeat 0px 50% scroll;
}

#site.bloglove .rightblock .black_head h1 {
	display:block;
	width:auto;
	margin-right:0px;
	padding-left:10px;
}

#site.bloglove .rightblock_content {
	margin-bottom:1em;
}

#site.bloglove .rightblock.blogger span {
	display:block;
	text-transform:uppercase;
	color:#acacac;
	cursor:pointer;
}

#site.bloglove .rightblock.searchblog form {
	position:relative;
}

#site.bloglove .rightblock.searchblog form input[type="text"] {
	width:100%;
	height:22px;
	padding-right:20px;
	border:1px solid #cccccc;
	color:#8e8e8e;
	font-size:11px;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#site.bloglove .rightblock.searchblog form input[type="submit"] {
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	width:20px;
	text-indent:-999px;
	background:transparent url(/__/images/2014-06/arrow_circle_right.png) no-repeat scroll 50% 50%;
}

#site.bloglove .commentslist {
	margin-bottom:20px;
}

.instagram-placeholder {
	float:left;
	width:66px;
	height:66px;
	border:1px solid #acacac;
	border-radius:3px;
	padding:3px;
	background:#ffffff;
	margin:0px 0px 3px 3px;
	opacity:0.5;
	transition:0.5s all ease-in-out 0s;
}

.instagram-placeholder:focus,
.instagram-placeholder:hover,
.instagram-placeholder:active {
	opacity:1;
}

.instagram-placeholder:nth-child(3n+1) {
	margin-left:0px;
}

.instagram-placeholder>a {
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
}

.instagram-placeholder>a>img {
	width:100%;
	height:auto;
}

.commenttitle {
	padding-left:0px;
	border-bottom:none;
}

.commenttitle,
.commenttitle a {
	font-size:12px;
	color:#000000;
	text-transform:uppercase;
	background:none;
}

#commentwrite {
	margin:10px 0px;
	padding:0px;
	background:none;
}

.commentwrap {
    border-left:20px solid #acacac;
    margin:5px 0px;
    padding-left:10px;
}

.commentwrap.comindent0 {
    border-left:none;
    padding-left:0px;
}

.commentlist {
    border:1px dotted #acacac;
    border-left:none;
    border-right:none;
    margin:0px;
    padding:5px 0px 10px 0px;
    background:transparent none;
}

.commentlist .comhead {
    margin-bottom:20px;
}

.commentlist .comhead .comtitle {
    padding:0px;
    font-family:'open_sans_condensed_bold';
    font-size:20px;
    font-weight:normal;
    letter-spacing:-1px;
    text-transform:uppercase;
    color:#acacac;
    background:transparent none;
}

.commentlist .comhead .comdate {
    padding:3px;
    color:#ffffff;
    background:#acacac none;
}

.commentlist .comhead .comdate,
.commentlist .comhead .comdate a {
    font-size:10px;
    font-weight:bold;
    text-transform:uppercase;
}

.commentlist .comcomment {
    text-align:right;
}

.commentlist .comcomment a {
    display:inline-block;
    height:15px;
    line-height:15px;
    padding-left:20px;
    color:#acacac;
    text-transform:uppercase;
    background: transparent url(/__/images/2014-06/arrow_circle_right.png) no-repeat scroll 0px 50%;
}

.formfields input,
.formfields select,
.formfields textarea,
.formfields password {
	width:100%;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.commentform .left,
.commentform .right {
	float:none;
}

.commentform .desc {
	color:#000000;
}

.commentform .fields {
	margin-bottom:20px;
}

.commentform textarea {
	min-height:200px;
}