#kopflogin_data input {
	margin:0px;
	background:none;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#kopflogin_data input[type="text"],
#kopflogin_data input[type="password"] {
	width:100%;
	padding:2px;
	border:1px solid #000000;
}

.loginarea_und_warenkorb {
	display: block;
	min-width: 400px;
	position: absolute;
	top: 20px;
	right: 0px;
	background: #FFFFFF;
	padding-left: 5px;
	padding-right: 30px;
}

.loginarea_und_warenkorb a.ichbinneuhier {
	font-size: 13px;
	color: #4a4b4c;
	text-decoration: none;
}

#kopflogin_data * {
	font-size: 13px;
}

#kopflogin_data {
	display: none;
	width: 270px;
	position: absolute;
	right: 100px;
	top: 41px;
	z-index: 100001;
	padding-top:44px;
}

#kopflogin_data #loginform_top {
	position:absolute;
	top:0px;
	z-index:100001;
	width:270px;
	height:45px;
	background:transparent url(/__/images/2014/loginform_top.png) scroll no-repeat 40% 0px;
}

#kopflogin_data #loginform_content {
	position:relative;
	padding:20px;
	border:1px solid #000000;
	background-color:#ffffff;
	box-shadow:10px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

#kopflogin_data a.facebooklogin {
	width: 202px;
	display: block;
	margin-top: -2px;
	text-align: center;
	font-weight: normal !important;
}

#kopflogin_data #loginlogoutform {
	padding:20px;
}

#kopflogin_data .inputwide {
	width:100%;
	margin:0px !important;
	font-size:14px;
}

#kopflogin_data .info {
	padding-left: 20px;
	background: url(/_/pics/forminfo.gif) no-repeat #FFF;
	font-weight: bold;
	color: #7d0000;
}

a.close_kopflogin_data {
	position: absolute;
	right: 3px;
	top: 3px;
	display: block;
	width: 18px;
	height: 18px;
	color:#ffffff;
	text-align:center;
	line-height:15px;
	text-decoration:none;
	background-color:#000000;
}

.loginform_keeplogin {
	margin-top: 2px;
}

#lh_login {
	display: inline;
}

#lh_konto {
	margin-left:3px;
	margin-right:3px;
}

#lh_anmelden,
#lh_abmelden {
	margin-left:3px;
}

.anmeldename,
#lh_login {
	text-decoration:none;
}

a.userdata16px {
    display:inline-block !important;
    height:12px;
    width:12px;
    background:url(/__/images/user_interaction16px.png) no-repeat scroll left 0px rgba(0, 0, 0, 0);
	background-size:12px auto;
}

a.logoff16px {
    display: inline-block !important;
    height:12px;
    width:12px;
    background: url(/__/images/user_interaction16px.png) no-repeat scroll left -12px rgba(0, 0, 0, 0);
	background-size:12px auto;
}

a.button16px {
    font-size:10px;
}

a.button16px img {
	width:12px;
	height:auto;
    font-size:1px;
    line-height:1px;
}

#kopflogin_data .loginform_text,
#kopflogin_data .loginform_field {
	margin-bottom:10px;
}

div.square {
	position:relative;
	padding-left:15px;
}

div.square input[type="checkbox"],
div.square input[type="radio"] {
	display:none;
}

div.square label:before {
	position:absolute;
	top:1px;
	left:0px;
	display:block;
	width:10px;
	height:10px;
	border:1px solid #000000;
	content:"";
	background-color:#ffffff;
}

#kopflogin_data div.square input[type="checkbox"] + label:hover:after,
#kopflogin_data div.square input[type="checkbox"] + label:focus:after,
#kopflogin_data div.square input[type="checkbox"] + label:active:after,
#kopflogin_data div.square input[type="checkbox"]:checked + label:hover:after,
#kopflogin_data div.square input[type="checkbox"]:checked + label:focus:after,
#kopflogin_data div.square input[type="checkbox"]:checked + label:active:after {
	position:absolute;
	top:2px;
	left:3px;
	display:block;
	width:4px;
	height:6px;
	border:2px solid #cccccc;
	border-left:none;
	border-top:none;
	background:transparent none;
	content:"";
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

div.square input[type="checkbox"] + label:hover:after,
div.square input[type="checkbox"] + label:focus:after,
div.square input[type="checkbox"] + label:active:after,
div.square input[type="checkbox"]:checked + label:hover:after,
div.square input[type="checkbox"]:checked + label:focus:after,
div.square input[type="checkbox"]:checked + label:active:after,
div.square input[type="radio"] + label:hover:after,
div.square input[type="radio"] + label:focus:after,
div.square input[type="radio"] + label:active:after,
div.square input[type="radio"]:checked + label:hover:after,
div.square input[type="radio"]:checked + label:focus:after,
div.square input[type="radio"]:checked + label:active:after {
	position:absolute;
	top:3px;
	left:2px;
	display:block;
	width:8px;
	height:8px;
	border:none;
	background:#cccccc;
	content:"";
}

#kopflogin_data div.square input[type="checkbox"]:checked + label:after {
	position:absolute;
	top:2px;
	left:3px;
	display:block;
	width:4px;
	height:6px;
	border:2px solid #000000;
	border-left:none;
	border-top:none;
	background:transparent none;
	content:"";
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

div.square input[type="checkbox"]:checked + label:after,
div.square input[type="radio"]:checked + label:after {
	position:absolute;
	top:3px;
	left:2px;
	display:block;
	width:8px;
	height:8px;
	border:none;
	background:#000000;
	content:"";
}

.accountloeschen {
	display:none !important;
}