*::-moz-selection,
*::selection {
	background:#b49b34 none;
	color:#ffffff;
}

html,
body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	overflow-x:hidden;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:17px;
}

a,
a:link,
a:visited {
	text-decoration:none;
	color:#000000;
}

a:focus,
a:hover,
a:active {
	text-decoration:underline;
}

a img.imgextlink {
	display:none;
}

table td {
	text-align:left;
	vertical-align:top;
}

.f13px,
.f13px * {
	font-size:13px;
	line-height:18px;
}

.justify,
.justify * {
	text-align:justify;
}

#site_goto {
	position:fixed;
	top:auto;
	right:0px;
	bottom:0px;
	left:0px;
	z-index:11;
}

#site_goto a {
	display:block;
	width:200px;
	height:30px;
	margin:auto;
	padding-top:50px;
	font-weight:normal;
	font-size:16px;
	line-height:27px;
	color:#000000;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	background:transparent url(/__/images/mb/pfeil44.png) no-repeat scroll 50% 0px;
}

#site_goto a,
#site_goto a:link,
#site_goto a:visited,
#site_goto a:focus,
#site_goto a:hover,
#site_goto a:active {
	outline:none;
}

#site_image {
	position:fixed;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	z-index:1;
}

#site_image img {
	display:block;
	width:auto;
	height:100%;
	/*min-width:100%; nööööööööööööööööööö
	min-height:100%;*/
	margin:150px auto auto auto;
}

#site_head {
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	z-index:15;
	height:150px;
	border-bottom:1px solid #000000;
	background:#ffffff none;
	text-align:center;
}

#site_head_logo {
	display:block;
	width:395px;
	height:60px;
	padding-top:30px;
	margin:0px auto;
	background-image:none;
	/*background:transparent url(/__/images/mb/logo_mondelli2.jpg) no-repeat scroll 50%; */
}

#site_background {
	position:fixed;
	top:0px;
	right:70px;
	bottom:0px;
	left:70px;
	z-index:10;
	padding-top:18%;
}

#site_article {
	max-width:980px;
	margin:auto;
	padding-top:130px;
	text-align:center;
}

#site_content {
	position:absolute;
	top:100%;
	right:0px;
	bottom:auto;
	left:0px;
	z-index:14;
	background:#ffffff;
}

#site_content_foot {
	width:660px;
	margin:auto;
}

.cleaner {
	clear:both !important;
	float:none !important;
	display:block !important;
	width:auto !important;
	height:auto !important;
}

.fs13,
.fs13 * {
	font-size:13px !important;
}

.left,
.right {
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.left {
	float:left;
}

.right {
	float:right;
}

ul.headmUL {
	float:none;
	display:block;
	width:960px;
	margin:12px auto auto auto;
}

ul.headmUL li {
	float:left;
	display:block;
	width:120px;
	height:27px;
	text-align:center;
}

ul.headmUL li a {
	display:inline;
	padding:2px;
	line-height:17px;
	font-size:12px;
	font-weight:200;
	letter-spacing:1px;
	color:#000000;
	text-transform:uppercase;
	text-decoration:none;
}

ul.headmUL li a:focus,
ul.headmUL li a:hover,
ul.headmUL li a:active {
	color:#b49b34;
}

ul.headmUL li a.headma {
	padding:2px;
	color:#ffffff;
	background:#000000;
}

#site_article .article_content,
#site_article .article_teaser {
	display:inline-block;
	text-transform:uppercase;
	color:#000000;
	background:rgba(255, 255, 255, 0.35) none;
}

#site_article .article_teaser {
	margin-bottom:20px;
	padding:10px;
	border:1px solid #ffffff;
	line-height:64px;
	font-size:64px;
	font-weight:200;
	letter-spacing:2px;
}

#site_article .article_content {
	margin-bottom:10px;
	padding:0px 5px;
	line-height:29px;
	font-size:18px;
	font-weight:normal;
}

a.aqm {
	position:relative;
	margin-left:15px;
}

.article_overview a.aqm {
	margin-left:10px;
}

a.aqm:focus,
a.aqm:hover,
a.aqm:active {
	text-decoration:none;
	border-bottom:1px solid #000000;
}

a.aqm:before {
	position:absolute;
	top:0px;
	right:auto;
	bottom:0px;
	left:-15px;
	z-index:2;
	line-height:20px;
	font-size:18px;
	content: '\00bb\00a0';
	text-decoration:none;
}

.article_overview a.aqm:before {
	left:-10px;
	font-size:13px;
	line-height:10px;
}

.fs13 a.aqm:before {
	line-height:16px;
}

#site_article .article_teaser p:first-child,
#site_article .article_content p:first-child {
	margin-top:0px;
}

#site_article .article_teaser p:last-child,
#site_article .article_content p:last-child {
	margin-bottom:0px;
}

.foot_social ul,
.foot_social ul li {
	margin:0px;
	padding:0px;
}

.foot_social ul {
	display:block;
	margin-top:35px;
	margin-bottom:20px;
	text-align:center;
}

.foot_social ul li {
	display:inline-block;
	list-style:none;
}

.foot_social ul li a {
	display:inline-block;
	height:16px;
	margin-left:10px;
	background:transparent url(/__/images/2014/social_links_small.png) 0px 0px no-repeat scroll;
}

.foot_social ul li a:focus,
.foot_social ul li a:hover,
.foot_social ul li a:active {
	background-image:url(/__/images/2014/social_links_small_mover.png);
}

.foot_social ul li:first-child a {
	margin-left:0px;
}

.foot_social ul li.facebook a {
	width:17px;
	background-position:0px 0px;
}

.foot_social ul li.pinterest a {
	width:17px;
	background-position:-24px 0px;
}

.foot_social ul li.googleplus a {
	width:16px;
	background-position:-48px 0px;
}

.foot_social ul li.twitter a {
	width:17px;
	background-position:-71px 0px;
}

.foot_social ul li.instagram a {
	width:16px;
	background-position:-95px 0px;
}

.foot_social ul li.tumblr a {
	width:17px;
	background-position:-118px 0px;
}

.foot_social ul li.youtube a {
	width:34px;
	background-position:-141px 0px;
}

.contact_table {
	padding:10px 0px;
	border:1px dotted #000000;
	border-left:none;
	border-right:none;
}

.contact_table .address,
.contact_table .telephone,
.contact_table .opening {
	width:33%;
}

.contact_table .opening {
	padding-left:13%
}

.contact_foot {
	margin:10px auto 40px auto;
	text-align:center;
}

.article_overview {
	padding-top:30px;
	border-bottom:1px solid #000000;
}

.article_overview .title,
.article_overview .content {
	width:980px;
	margin:0px auto;
}

.article_overview .title {
	padding:5px 0px 20px 0px;
	font-size:18px;
	line-height:23px;
	font-weight:200;
	text-transform:uppercase;
}

.article_overview .content {
	min-height:200px;
	padding-bottom:20px;
}

.article_overview .content iframe {
	padding:0px 0px 10px 10px;
}

.article_overview .content iframe:first-child,
.article_overview .content iframe:nth-child(3n+1) {
	padding-left:0px;
}

.backstretch {
	position:fixed;
	top:150px;
	right:0px;
	bottom:0px;
	left:0px;
	z-index:2;
}

.backstretch .nivoSlider {
	width:auto !important;
	height:100% !important;
	min-width:100% !important;
	min-height:100% !important;
}

.backstretch .nivoSlider a.nivo-imageLink,
.backstretch .nivoSlider .nivo-slice {
	z-index:2;
}

.backstretch .nivoSlider a.nivo-imageLink img {
	position:relative !important;
	top:auto !important;
	left:auto !important;
	display:block !important;
	width:100% !important;
	height:auto !important;
}

.backstretch .nivoSlider .nivo-slice {
	top:0px;
	right:0px;
	bottom:0px;
	height:auto !important;
}

/*.backstretch .nivoSlider .nivo-slice img {
	display:block !important;
	width:auto !important;
	height:auto !important;
	min-width:100% !important;
	min-height:100% !important;
}*/

.backstretch .nivoSlider .nivo-slice img {
	display:block !important;
	width:100%;
	height:auto !important;
	min-width:0% !important;
	min-height:0% !important;
}

/*.backstretch .nivoSlider .nivo-main-image {
	display:block !important;
	width:auto !important;
	height:auto !important;
	min-width:100% !important;
	min-height:100% !important;
}*/

.backstretch .nivoSlider .nivo-main-image {
	display:block !important;
	width:100% !important;
	height:auto !important;
	min-width:0% !important;
	min-height:0% !important;
}

.backstretch .nivoSlider .nivo-directionNav {
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	z-index:3;
}

.backstretch .nivoSlider .nivo-directionNav a {
	position:absolute;
	top:50%;
	z-index:11;
	width:19px;
	height:42px;
	margin-top:-21px;
	text-indent:-9999px;
	background:url(/__/images/slider_arrows.png) no-repeat scroll -30px 50% rgba(0, 0, 0, 0);
}

.backstretch .nivoSlider .nivo-directionNav a.nivo-prevNav {
	left:15px;
	background-position:0px 0px;
}

.backstretch .nivoSlider .nivo-directionNav a.nivo-nextNav {
	right:15px;
	background-position:-19px 0px;
}

.letter_block {
	margin:0px;
	padding-top:20px;
}

.brands_24_29_times {
	color:#000000;
	font-size:18px;
	font-weight:bold;
	line-height:28px;
}

.brandname {
	font-size:13px;
}

.brandname.soon * {
	color:#acacac;
}

.normalcase {
	font-size:11px;
	font-weight:normal;
}

.nl_plainregister_subheadline {
	font-size:13px;
}

.plainreg_field_container {
	margin-top:20px;
	padding:15px 10px;
	border:1px dashed #000000;
}

.plainreg_field_container .left {
	width:35%;
	margin-left:5%;
	margin-right:5%;
}

.plainreg_field_container .left input {
	display:inline-block;
	width:100%;
	height:25px;
	font-size:13px;
	background-image:none;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.plainreg_field_container .left:first-child,
.plainreg_field_container .left.first {
	width:40%;
	margin-left:0px;
	margin-right:0px;
	font-size:14px;
	line-height:25px;
}

.plainreg_field_container .right {
	width:15%;
}

.plainreg_field_container .right button {
	width:100%;
	height:25px;
	font-size:13px;
}

#controlsvideo {
	position:absolute;
	top:150px;
	right:20px;
	bottom:auto;
	left:auto;
	z-index:3;
}

#controlsvideo button {
	width:25px;
	height:25px;
	padding:0px;
	border:0px;
	background-color:#000000;
	text-align:center;
	line-height:32px;
}

#controlsvideo button img {
	display:inline-block;
	width:auto !important;
	height:auto !important;
	min-width:0px;
	min-height:0px;
	margin:0px;
}

#videoplay {
	position:absolute;
	top:150px;
	right:0px;
	bottom:0px;
	left:0px;
	z-index:2;
	min-width:100%;
	min-height:100%;
}