/* Slider
---------------------------------------- */
#slider-wrapper {
	height:490px;
	overflow:hidden;
	position:relative;
	margin-bottom: 30px;	
	}
#slider {
	position:relative;
	width:980px;
	height:490px;
	background:url(../images/sternenpark/loading.png) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	width: 980px !important;
	height: 510px !important;
}
#slider a {
	border:0;
	display:block;
}


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	top:196px;
	z-index:100;
	letter-spacing: -7px;
	font-size: 100px;
	font-weight: bold;
	min-width: 200px;
	min-height: 120px;
}
.nivo-caption{
	color: #FFFFFF;
	margin-left: 86px;
	display:block;
}
.nivo-caption .nivo-caption-inner {
	padding:1px 41px 15px 25px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
  display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position:absolute;
	left:460px;
	bottom:35px;
}
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
	width: 16px;
	height: 16px;
	text-indent: -9000px;
	display:inline-block !important;
	background:url(../images/sternenpark/pagination.png) no-repeat -20px 0;
	margin: 0 4px 0 0;
}


.nivo-directionNav {

	}
.nivo-directionNav a {
	position:absolute;
	display:block;
	width:19px;
	height:42px;
	text-indent:-9999px;
	border:0;
	top:50%;
	margin-top:-21px;
	background:url(../images/slider_arrows.png) -30px 50% no-repeat;
}

a.nivo-nextNav,
a.nivo-nextNav:focus,
a.nivo-nextNav:hover,
a.nivo-nextNav:active {
	right:15px;
	background-position:-19px 0;
}

a.nivo-prevNav,
a.nivo-prevNav:focus,
a.nivo-prevNav:hover,
a.nivo-prevNav:active {
	left:15px;
	background-position:0 0;
}

#slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
	width:120px;
	height:auto;
}